*{
    margin: 0px;
    padding: 0px;
}
#t1{
  
    color: white;
    background-color: rgb(41, 97, 165);
    
   font-size: 35px;
   
 

  
}
#t2{
    background-color: rgb(41, 97, 165);
    width: 1500px;
    height: 800px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: -50px;
  

}
.t4{
    margin-left: 425px;
    margin-top: -50px;
}
#t9{
    background-image: linear-gradient(rgb(16, 83, 170), rgb(129, 64, 195), rgb(132, 83, 212));
    width: 1500px;
    height: 800px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: -50px;
   
}
#t8{
    color: black;
    font-size: 25px;
}
#t7{
    color: black;
   margin-left: 500px;
    
margin-top: -460px;

}
